.card1{
    display: flex;
    border: 1px solid rgb(177, 177, 177);
}
.header{
    background:#1a5796;
    height: 214px;
    color: white;
}
.mt-6{
    margin-top: 50px;
}

.search-title{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.search-title .btn{
    font-weight: 900;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    border: 0.5px solid white;
}

.search-input{
    display: block;
    width: 70%;
}
